<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.his.api.db.mapper.GoodsMapper">

    <resultMap id="BaseResultMap" type="com.example.his.api.db.pojo.GoodsEntity">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="code" column="code" jdbcType="VARCHAR"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
            <result property="checkup1" column="checkup_1" jdbcType="OTHER"/>
            <result property="checkup2" column="checkup_2" jdbcType="OTHER"/>
            <result property="checkup3" column="checkup_3" jdbcType="OTHER"/>
            <result property="checkup4" column="checkup_4" jdbcType="OTHER"/>
            <result property="checkup" column="checkup" jdbcType="OTHER"/>
            <result property="image" column="image" jdbcType="VARCHAR"/>
            <result property="initialPrice" column="initial_price" jdbcType="DECIMAL"/>
            <result property="currentPrice" column="current_price" jdbcType="DECIMAL"/>
            <result property="salesVolume" column="sales_volume" jdbcType="INTEGER"/>
            <result property="type" column="type" jdbcType="OTHER"/>
            <result property="tag" column="tag" jdbcType="OTHER"/>
            <result property="partId" column="part_id" jdbcType="TINYINT"/>
            <result property="ruleId" column="rule_id" jdbcType="INTEGER"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
            <result property="md5" column="md5" jdbcType="VARCHAR"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <!--分页查询商品-->
   <select id="searchByPage" parameterType="Map" resultType="HashMap">
       SELECT g.id,
              g.code,
              g.title,
              FORMAT(g.initial_price, 0) as "initialPrice",
              FORMAT(g.current_price, 0) as "currentPrice",
              CASE
                WHEN LENGTH(g.sales_volume) &lt;= 4 THEN FORMAT(g.sales_volume, 0)
                ELSE CONCAT(
                    FORMAT(MID(g.sales_volume, 1, LENGTH(g.sales_volume) - 4), 0, "万+")
                )
              END as "salesVolume",
              g.type,
              g.part_id AS "partId",
              r.name AS "ruleName",
              (g.checkup IS NOT NULL) AS "hasCheckup",
              g.status
       FROM tb_goods g
       LEFT JOIN tb_rule r ON g.rule_id = r.id -- 根据 rule_id 进行【左连接（保留左边所有字段）】
      <where>
          <if test="keyword != null">
               AND g.title LIKE CONCAT("%", #{keyword}, "%")
          </if>
          <if test="code != null">
              AND g.code = #{code}
          </if>
          <if test="type != null">
              AND g.type = #{type}
          </if>
          <if test="partId != null">
              AND g.part_id = #{partId}
          </if>
          <if test="status != null">
              AND g.status = #{status}
          </if>
      </where>
       LIMIT #{start}, #{length}
   </select>

    <!--查询商品数量-->
    <select id="searchCount" parameterType="Map" resultType="long">
        SELECT COUNT(*)
        FROM tb_goods
        <where>
            <if test="keyword != null">
                AND title LIKE CONCAT("%", #{keyword}, "%")
            </if>
            <if test="type != null">
                AND type = #{type}
            </if>
            <if test="partId != null">
                AND part_id = #{partId}
            </if>
            <if test="status != null">
                AND status = #{status}
            </if>
        </where>
    </select>

    <insert id="insert" parameterType="com.example.his.api.db.pojo.GoodsEntity">
        INSERT INTO tb_goods
        SET code = #{code},
            title = #{title},
            description = #{description},
            checkup_1 = #{checkup1},
            checkup_2 = #{checkup2},
            checkup_3 = #{checkup3},
            checkup_4 = #{checkup4},
            image = #{image},
            initial_price = #{initialPrice},
            current_price = #{currentPrice},
            sales_volume = 0, -- 商品数量
            type = #{type},
            tag = #{tag},
            part_id = #{partId},
            rule_id = #{ruleId},
            status = #{ruleId},
            status = false, -- false下架状态
            `md5` = #{md5}
    </insert>
</mapper>
