<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.his.api.db.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.example.his.api.db.pojo.UserEntity">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="username" column="username" jdbcType="VARCHAR"/>
            <result property="password" column="password" jdbcType="VARCHAR"/>
            <result property="openId" column="open_id" jdbcType="VARCHAR"/>
            <result property="photo" column="photo" jdbcType="VARCHAR"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="sex" column="sex" jdbcType="OTHER"/>
            <result property="tel" column="tel" jdbcType="CHAR"/>
            <result property="email" column="email" jdbcType="VARCHAR"/>
            <result property="hiredate" column="hiredate" jdbcType="DATE"/>
            <result property="role" column="role" jdbcType="OTHER"/>
            <result property="root" column="root" jdbcType="TINYINT"/>
            <result property="deptId" column="dept_id" jdbcType="INTEGER"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,username,password,
        open_id,photo,name,
        sex,tel,email,
        hiredate,role,root,
        dept_id,status,create_time
    </sql>

    <!-- 通过用户id查询用户权限json列表 -->
    <select id="searchUserPermissions" parameterType="int" resultType="String">
        -- DISTINCT 用于去除重复数据
        SELECT DISTINCT p.permission_name
        FROM tb_user u
                 JOIN tb_role r ON JSON_CONTAINS(u.role, CAST(r.id AS CHAR))
                 JOIN tb_permission p ON JSON_CONTAINS(r.permissions, CAST(p.id AS CHAR))
        WHERE u.id = #{userId} AND u.status = 1
    </select>

    <!--
        登陆系统查询
        1. parameterType类型为Map，是因为Form对象利用工具方法只能转换为Map
        2. resultType类型为Integer，是因为有可能返回null，而int无法保存空值
    -->
    <select id="login" parameterType="Map" resultType="Integer">
        SELECT id
        FROM tb_user
        WHERE username = #{username}
          AND password = #{password}
        LIMIT 1 -- 查询到1条匹配的数据后，就不用再去搜索后续数据了，减少SQL语句执行时间
    </select>

</mapper>
